TWILIO_ACCOUNT_SID = 'your_account_sid'
TWILIO_AUTH_TOKEN = 'your_auth_token'
TWILIO_PHONE_NUMBER = 'whatsapp:+14155238886'
USE_TWILIO = 0
BASE_URL = 'http://localhost:8000'
RESET_PHRASE = 'reset'
STATE_BACKEND='memory'
DATABASE_URL='sqlite:///./db.sqlite3'